{{> HtmlPrefix }}

<div class="px-4 py-5 my-5 text-center">
	<h1 class="display-5 fw-bold">Kancl.online</h1>
	<div class="col-lg-6 mx-auto">
		<p>{{getJoinedParticipantName}}{{^getJoinedParticipantName}}No participant 🙁{{/getJoinedParticipantName}}</p>
	</div>
</div>

{{> HtmlSuffix }}